CSV/votacao_secao_2022_BR.zip
CSV/leiame.pdf
CSV/votacao_secao_2022_BR.csv
CSV/VOTOS_T1E2.xlsx
.venv/
CSV/geocoded_voting_places_001.csv
Output/df_turno2_pres_rs_poa_pivot_dif.csv
.gitignore
Shapefiles/schema.ini
Shapefiles/Shape_Poa.dbf
.gitignore
Shapefiles/Shape_Poa.cpg
Shapefiles/Shape_Poa.prj
Shapefiles/Shape_Poa.sbn
.gitignore
Shapefiles/Shape_Poa.shp.LAPTOP-2NQ58KPU.2128.11620.sr.lock
Shapefiles/Shape_Poa.shp
Shapefiles/Shape_Poa.shx
Shapefiles/Zonas_Poa.prj
Shapefiles/Zonas_Poa.sbx
Shapefiles/Zonas_Poa.shp.LAPTOP-2NQ58KPU.2128.11620.sr.lock
Shapefiles/Zonas_Poa.shx
Shapefiles/Zonas_Poa.sbn
Shapefiles/Zonas_Poa.dbf
Shapefiles/Zonas_Poa.shp
Shapefiles/Zonas_Poa.cpg
Shapefiles/Shape_Poa.sbx
CSV/votacao_secao_2022_RS.csv
.gitignore
CSV/votacao_secao_2020_RS.csv
.gitignore
CSV/bweb_1t_RS_051020221321.csv
